.container {
  padding: 0 2rem;
  text-align: center;
}

.container button {
  display: block;
  cursor: pointer;
  margin: 0 auto 20px;
  padding: 8px 20px;
  border-radius: 8px;
  background-color: black;
  border: solid white 2px;
  color: white;
  font-size: 1.6rem;
  align-items: center;
  text-align: center;
}

.container button:hover {
  background-color: rgb(44, 44, 44);
}

.googleFormLink {
  cursor: pointer;
  margin: 0 auto 20px;
  padding: 8px 20px;
  border-radius: 8px;
  background-color: black;
  border: solid white 2px;
  color: white;
  font-size: 1.6rem;
  align-items: center;
  text-align: center;
}

.googleFormLink:hover {
  color: yellowgreen;
}

.main {
  padding: 4rem 0;
  flex: 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.container h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  margin: 10px 0 8px;
  font-family: 'Tilt Warp', cursive;
}

.goliathOuterContainer {
  background-color: rgb(141, 209, 202);
  border-radius: 8px;
  color: black;
  border: solid white 2px;
  margin: 8px;
}

.goliathOuterContainer h3 {
  margin: 8px;
}

.goliathContainer {
  margin: 8px;
  width: 222px;
  height: 222px;
  border: solid white 2px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  background-color: red;
  cursor: pointer;
}

.musicMetadata p {
  margin: 3px;
}
